<style>
    .card {
        height: 14.5rem;
    }

    @@media (min-width: 768px) {
        .col-md-2 {
            max-width: 280px;
        }
    }
</style>
<body>
    <div class="col-md-2">
        <div class="col-sm-12">
            <div class="card">
                <article class="card-group-item">
                    <header class="card-header">
                        <h6 class="title">Profile</h6>
                    </header>
                    <div class="filter-content">
                        <div class="card-body">
                            <form>
                                <label>
                                    <a href="/Account" class="btn btn-default btn-m ml-0 text-dark">
                                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                        Orders
                                    </a>
                                </label>
                                <label>
                                    <a href="/Account/UserInfo" class="btn btn-default btn-m ml-0 text-dark">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        User Information
                                    </a>
                                </label> 
                                <label>
                                    <a href="/Account/PasswordChange" class="btn btn-default btn-m ml-0 text-dark">
                                        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                                        Password Change
                                    </a>
                                </label>
                            </form>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</body>