
@{
    ViewBag.Title = "Details";
}
<div class="container pb-5">
    <div class="row">
        <div class="col-md-6">
            <img src="~/theme/img/sarar-bisiklet-yaka-t-shirt-5748-basic-tisort-sarar-7503-57-B.jpg" class="img-responsive w-100">
        </div>
        <div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-16">
                        <h2>Sarar T-shirt</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
