@{
    ViewBag.Title = "Index";

}




<div id="slider">

    <div class="container">

        <figure>

            <img src="~/theme/img/IMG-20221221-WA0001.jpg">

            <img src="~/theme/img/IMG-20221221-WA0002.jpg">

            <img src="/theme/img/IMG-20221221-WA0001.jpg">

            <img src="/theme/img/IMG-20221221-WA0002.jpg">

            <img src="~/theme/img/IMG-20221221-WA0001.jpg">




        </figure>

    </div>

</div>

<div class="col-md-20">

    <div id="electronicSection">

        <h2>Electronic</h2>

        <div class="card-group">

            <div class="card">

                <a href="https://www.w3schools.com">

                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/283/550/110000271395252.jpg/format:webp" alt="W3Schools.com" width="80" height="100">

                </a>

                <div class="card-body">

                    <h5 class="card-title">Iphone 14 Pro Max</h5>

                    <p class="card-text"><small class="text-muted">$1099</small></p>

                </div>

            </div>

            <div class="card">

                <a href="https://www.w3schools.com">

                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/34/550/10443423252530.jpg/format:webp" alt="W3Schools.com" width="80" height="100">

                </a>

                <div class="card-body">

                    <h5 class="card-title">Macbook Pro</h5>

                    <p class="card-text"><small class="text-muted">$2699</small></p>

                </div>

            </div>

            <div class="card">

                <a href="https://www.w3schools.com">

                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/136/550/110000088116931.jpg/format:webp" alt="W3Schools.com" width="80" height="100">

                </a>

                <div class="card-body">

                    <h5 class="card-title">Airpods 3rd Gen</h5>

                    <p class="card-text"><small class="text-muted">$249</small></p>

                </div>

            </div>

            <div class="card">

                <a href="https://www.w3schools.com">

                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/19/550/9853227532338.jpg/format:webp" alt="W3Schools.com" width="80" height="100">

                </a>

                <div class="card-body">

                    <h5 class="card-title">Canon EOS</h5>

                    <p class="card-text"><small class="text-muted">$375</small></p>

                </div>

            </div>

            <div class="card">

                <a href="https://www.w3schools.com">

                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/198/550/110000168628260.jpg/format:webp" alt="W3Schools.com" width="80" height="100">

                </a>

                <div class="card-body">

                    <h5 class="card-title">Samsung Washing Machine</h5>

                    <p class="card-text"><small class="text-muted">$400</small></p>

                </div>

            </div>

            <div class="card">

                <a href="https://www.w3schools.com">

                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/94/550/110000036607848.jpg/format:webp" alt="W3Schools.com" width="80" height="100">

                </a>

                <div class="card-body">

                    <h5 class="card-title">Samsung LED TV</h5>

                    <p class="card-text"><small class="text-muted">$749</small></p>

                </div>

            </div>

        </div>

    </div>

    <div id="fashionSection">

        <h2>Fashion</h2>

        <div class="card-group">

            <div class="card">

                <a href="https://www.w3schools.com">

                    <img id="imgCard" src="https://cdn.beymen.com/mnresize/596/830/productimages/rgp3y11m.w4k_IMG_01_2110088617712.jpg" alt="W3Schools.com" width="80" height="100">

                </a>

                <div class="card-body">

                    <h5 class="card-title">Women's Bag</h5>

                    <p class="card-text"><small class="text-muted">$350</small></p>

                </div>

            </div>

            <div class="card">

                <a href="https://www.w3schools.com">

                    <img id="imgCard" src="https://cdn.beymen.com/mnresize/596/830/productimages/5m1zshgq.fry_IMG_03_2110087449208.jpeg" alt="W3Schools.com" width="80" height="100">

                </a>

                <div class="card-body">

                    <h5 class="card-title">Women's Sunglasses</h5>

                    <p class="card-text"><small class="text-muted">$150</small></p>

                </div>

            </div>

            <div class="card">

                <a href="https://www.w3schools.com">

                    <img id="imgCard" src="https://cdn.beymen.com/mnresize/1200/1672/productimages/dqbbdo00.y4b_IMG_01_2110085031221.jpg" alt="W3Schools.com" width="80" height="100">

                </a>

                <div class="card-body">

                    <h5 class="card-title">Men's Watch</h5>

                    <p class="card-text"><small class="text-muted">$250</small></p>

                </div>

            </div>

            <div class="card">

                <a href="https://www.w3schools.com">

                    <img id="imgCard" src="https://cdn.beymen.com/mnresize/596/830/productimages/romnrylr.4zh_MP_12b66eaa-cc09-4150-b113-d30394e34cef_1_12305285034308252224474541233_340.jpg" alt="W3Schools.com" width="80" height="100">

                </a>

                <div class="card-body">

                    <h5 class="card-title">Men's T-shirt</h5>

                    <p class="card-text"><small class="text-muted">$40</small></p>

                </div>

            </div>

            <div class="card">

                <a href="https://www.w3schools.com">

                    <img id="imgCard" src="https://cdn.beymen.com/mnresize/596/830/productimages/2fsy5irr.ikd_MP_bfc3be9a-f6ab-440d-8271-901b21c2a596_1_22511650716761080589305280728_411.jpg" alt="W3Schools.com" width="80" height="100">

                </a>

                <div class="card-body">

                    <h5 class="card-title">Men's Coat</h5>

                    <p class="card-text"><small class="text-muted">$90</small></p>

                </div>

            </div>

            <div class="card">

                <a href="https://www.w3schools.com">

                    <img id="imgCard" src="https://static.zara.net/photos///2022/I/0/1/p/3046/287/712/2/w/750/3046287712_6_1_1.jpg?ts=1660293267581" alt="W3Schools.com" width="80" height="100">

                </a>

                <div class="card-body">

                    <h5 class="card-title">Women's Jacket</h5>

                    <p class="card-text"><small class="text-muted">$79</small></p>

                </div>

            </div>

        </div>

    </div>




    <div id="homeSection">

        <h2>Home,Life</h2>

        <div class="card-group">

            <div class="card">

                <a href="https://www.w3schools.com">

                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">

                </a>

                <div class="card-body">

                    <h5 class="card-title">Polaris Shoes</h5>

                    <p class="card-text">Polaris Shoes</p>

                    <p class="card-text"><small class="text-muted">500 TL</small></p>

                </div>

            </div>

            <div class="card">

                <a href="https://www.w3schools.com">

                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">

                </a>

                <div class="card-body">

                    <h5 class="card-title">Polaris Shoes</h5>

                    <p class="card-text">Polaris Shoes</p>

                    <p class="card-text"><small class="text-muted">500 TL</small></p>

                </div>

            </div>

            <div class="card">

                <a href="https://www.w3schools.com">

                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">

                </a>

                <div class="card-body">

                    <h5 class="card-title">Polaris Shoes</h5>

                    <p class="card-text">Polaris Shoes</p>

                    <p class="card-text"><small class="text-muted">500 TL</small></p>

                </div>

            </div>

            <div class="card">

                <a href="https://www.w3schools.com">

                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">

                </a>

                <div class="card-body">

                    <h5 class="card-title">Polaris Shoes</h5>

                    <p class="card-text">Polaris Shoes</p>

                    <p class="card-text"><small class="text-muted">500 TL</small></p>

                </div>

            </div>

            <div class="card">

                <a href="https://www.w3schools.com">

                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">

                </a>

                <div class="card-body">

                    <h5 class="card-title">Polaris Shoes</h5>

                    <p class="card-text">Polaris Shoes</p>

                    <p class="card-text"><small class="text-muted">500 TL</small></p>

                </div>

            </div>

            <div class="card">

                <a href="https://www.w3schools.com">

                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">

                </a>

                <div class="card-body">

                    <h5 class="card-title">Polaris Shoes</h5>

                    <p class="card-text">Polaris Shoes</p>

                    <p class="card-text"><small class="text-muted">500 TL</small></p>

                </div>

            </div>

        </div>

    </div>

    <div id="sportSection">

        <h2>Sport,Outdoor</h2>

        <div class="card-group">

            <div class="card">

                <a href="https://www.w3schools.com">

                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">

                </a>

                <div class="card-body">

                    <h5 class="card-title">Polaris Shoes</h5>

                    <p class="card-text">Polaris Shoes</p>

                    <p class="card-text"><small class="text-muted">500 TL</small></p>

                </div>

            </div>

            <div class="card">

                <a href="https://www.w3schools.com">

                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">

                </a>

                <div class="card-body">

                    <h5 class="card-title">Polaris Shoes</h5>

                    <p class="card-text">Polaris Shoes</p>

                    <p class="card-text"><small class="text-muted">500 TL</small></p>

                </div>

            </div>

            <div class="card">

                <a href="https://www.w3schools.com">

                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">

                </a>

                <div class="card-body">

                    <h5 class="card-title">Polaris Shoes</h5>

                    <p class="card-text">Polaris Shoes</p>

                    <p class="card-text"><small class="text-muted">500 TL</small></p>

                </div>

            </div>

            <div class="card">

                <a href="https://www.w3schools.com">

                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">

                </a>

                <div class="card-body">

                    <h5 class="card-title">Polaris Shoes</h5>

                    <p class="card-text">Polaris Shoes</p>

                    <p class="card-text"><small class="text-muted">500 TL</small></p>

                </div>

            </div>

            <div class="card">

                <a href="https://www.w3schools.com">

                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">

                </a>

                <div class="card-body">

                    <h5 class="card-title">Polaris Shoes</h5>

                    <p class="card-text">Polaris Shoes</p>

                    <p class="card-text"><small class="text-muted">500 TL</small></p>

                </div>

            </div>

            <div class="card">

                <a href="https://www.w3schools.com">

                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">

                </a>

                <div class="card-body">

                    <h5 class="card-title">Polaris Shoes</h5>

                    <p class="card-text">Polaris Shoes</p>

                    <p class="card-text"><small class="text-muted">500 TL</small></p>

                </div>

            </div>

        </div>

    </div>

    <div id="cosmeticSection">

        <h2>Cosmetics,Personal Care</h2>

        <div class="card-group">

            <div class="card">

                <a href="https://www.w3schools.com">

                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">

                </a>

                <div class="card-body">

                    <h5 class="card-title">Polaris Shoes</h5>

                    <p class="card-text">Polaris Shoes</p>

                    <p class="card-text"><small class="text-muted">500 TL</small></p>

                </div>

            </div>

            <div class="card">

                <a href="https://www.w3schools.com">

                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">

                </a>

                <div class="card-body">

                    <h5 class="card-title">Polaris Shoes</h5>

                    <p class="card-text">Polaris Shoes</p>

                    <p class="card-text"><small class="text-muted">500 TL</small></p>

                </div>

            </div>

            <div class="card">

                <a href="https://www.w3schools.com">

                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">

                </a>

                <div class="card-body">

                    <h5 class="card-title">Polaris Shoes</h5>

                    <p class="card-text">Polaris Shoes</p>

                    <p class="card-text"><small class="text-muted">500 TL</small></p>

                </div>

            </div>

            <div class="card">

                <a href="https://www.w3schools.com">

                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">

                </a>

                <div class="card-body">

                    <h5 class="card-title">Polaris Shoes</h5>

                    <p class="card-text">Polaris Shoes</p>

                    <p class="card-text"><small class="text-muted">500 TL</small></p>

                </div>

            </div>

            <div class="card">

                <a href="https://www.w3schools.com">

                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">

                </a>

                <div class="card-body">

                    <h5 class="card-title">Polaris Shoes</h5>

                    <p class="card-text">Polaris Shoes</p>

                    <p class="card-text"><small class="text-muted">500 TL</small></p>

                </div>

            </div>

            <div class="card">

                <a href="https://www.w3schools.com">

                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">

                </a>

                <div class="card-body">

                    <h5 class="card-title">Polaris Shoes</h5>

                    <p class="card-text">Polaris Shoes</p>

                    <p class="card-text"><small class="text-muted">500 TL</small></p>

                </div>

            </div>

        </div>

    </div>

    <div id="bookSection">

        <h2>Book,Music,Movie</h2>

        <div class="card-group">

            <div class="card">

                <a href="https://www.w3schools.com">

                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">

                </a>

                <div class="card-body">

                    <h5 class="card-title">Polaris Shoes</h5>

                    <p class="card-text">Polaris Shoes</p>

                    <p class="card-text"><small class="text-muted">500 TL</small></p>

                </div>

            </div>

            <div class="card">

                <a href="https://www.w3schools.com">

                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">

                </a>

                <div class="card-body">

                    <h5 class="card-title">Polaris Shoes</h5>

                    <p class="card-text">Polaris Shoes</p>

                    <p class="card-text"><small class="text-muted">500 TL</small></p>

                </div>

            </div>

            <div class="card">

                <a href="https://www.w3schools.com">

                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">

                </a>

                <div class="card-body">

                    <h5 class="card-title">Polaris Shoes</h5>

                    <p class="card-text">Polaris Shoes</p>

                    <p class="card-text"><small class="text-muted">500 TL</small></p>

                </div>

            </div>

            <div class="card">

                <a href="https://www.w3schools.com">

                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">

                </a>

                <div class="card-body">

                    <h5 class="card-title">Polaris Shoes</h5>

                    <p class="card-text">Polaris Shoes</p>

                    <p class="card-text"><small class="text-muted">500 TL</small></p>

                </div>

            </div>

            <div class="card">

                <a href="https://www.w3schools.com">

                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">

                </a>

                <div class="card-body">

                    <h5 class="card-title">Polaris Shoes</h5>

                    <p class="card-text">Polaris Shoes</p>

                    <p class="card-text"><small class="text-muted">500 TL</small></p>

                </div>

            </div>

            <div class="card">

                <a href="https://www.w3schools.com">

                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">

                </a>

                <div class="card-body">

                    <h5 class="card-title">Polaris Shoes</h5>

                    <p class="card-text">Polaris Shoes</p>

                    <p class="card-text"><small class="text-muted">500 TL</small></p>

                </div>

            </div>

        </div>

    </div>
</div>