@using E_Commerce.Models;
@model IEnumerable<ProductModel>
@{
    ViewBag.Title = "Index";
}
<div class="container">
<div id="slider">
    <div class="container">

        <figure>

            <img src="~/theme/img/IMG-20221221-WA0001.jpg">

            <img src="~/theme/img/IMG-20221221-WA0002.jpg">

            <img src="/theme/img/IMG-20221221-WA0001.jpg">

            <img src="/theme/img/IMG-20221221-WA0002.jpg">

            <img src="~/theme/img/IMG-20221221-WA0001.jpg">




        </figure>

    </div>
</div>
    <div class="container pb-5">
        @Html.Partial("_ProductList")
    </div>

</div>


