@using E_Commerce.Entity;
@model IEnumerable<Product>
@{
    ViewBag.Title = "Index";
}
<div id="slider">
    <div class="container">

        <figure>

            <img src="~/theme/img/IMG-20221221-WA0001.jpg">

            <img src="~/theme/img/IMG-20221221-WA0002.jpg">

            <img src="/theme/img/IMG-20221221-WA0001.jpg">

            <img src="/theme/img/IMG-20221221-WA0002.jpg">

            <img src="~/theme/img/IMG-20221221-WA0001.jpg">




        </figure>

    </div>
</div>
<h2>Electronic</h2>
<div class="row">
 @foreach (var urun in Model)
    {
        <div class="col-md-3">
            <a href="/Home/Details/@urun.ID">
                <div class="card">
                    <img class="card-img-top" src=@urun.PictureSource alt="@urun.ProductName">
                    <div class="card-body">
                        <h4 class="card-title">
                            @urun.ProductName
                        </h4>
                        <p class="card-text">
                            @urun.ProductDescription
                        </p>
                    </div>
                    <div class="card-footer">
                        <h4>$@urun.Price</h4>
                    </div>
                </div>
            </a>
        </div>
    }

</div>




