
@{
    ViewBag.Title = "Index";
}

<div id="slider">
    <div class="container">
        <figure>
            <img src="~/theme/img/shop.png.jpg">
            <img src="/theme/img/shop2.png">
            <img src="/theme/img/shop.png.jpg">
            <img src="/theme/img/shop2.png">
            <img src="/theme/img/shop.png.jpg">
        </figure>
    </div>
</div>
<div class="col-md-20">
    <div id="electronicSection">
        <h2>Electronic</h2>
        <div class="card-group mt-0 ">
            <div class="card">
                <a href="https://www.w3schools.com">
                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Polaris Shoes</h5>
                    <p class="card-text">Polaris Shoes</p>
                    <p class="card-text"><small class="text-muted">500 TL</small></p>
                </div>
            </div>
            <div class="card">
                <a href="https://www.w3schools.com">
                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/322/600-800/110000316453743.jpg" alt="W3Schools.com" width="80" height="100">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Polaris Shoes</h5>
                    <p class="card-text">Polaris Shoes</p>
                    <p class="card-text"><small class="text-muted">500 TL</small></p>
                </div>
            </div>
            <div class="card">
                <a href="https://www.w3schools.com">
                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Polaris Shoes</h5>
                    <p class="card-text">Polaris Shoes</p>
                    <p class="card-text"><small class="text-muted">500 TL</small></p>
                </div>
            </div>
            <div class="card">
                <a href="https://www.w3schools.com">
                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Polaris Shoes</h5>
                    <p class="card-text">Polaris Shoes</p>
                    <p class="card-text"><small class="text-muted">500 TL</small></p>
                </div>
            </div>
            <div class="card">
                <a href="https://www.w3schools.com">
                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Polaris Shoes</h5>
                    <p class="card-text">Polaris Shoes</p>
                    <p class="card-text"><small class="text-muted">500 TL</small></p>
                </div>
            </div>
            <div class="card">
                <a href="https://www.w3schools.com">
                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Polaris Shoes</h5>
                    <p class="card-text">Polaris Shoes</p>
                    <p class="card-text"><small class="text-muted">500 TL</small></p>
                </div>
            </div>
        </div>
    </div>
    <div id="fashionSection">
        <h2>Fashion</h2>
        <div class="card-group">
            <div class="card">
                <a href="https://www.w3schools.com">
                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Polaris Shoes</h5>
                    <p class="card-text">Polaris Shoes</p>
                    <p class="card-text"><small class="text-muted">500 TL</small></p>
                </div>
            </div>
            <div class="card">
                <a href="https://www.w3schools.com">
                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Polaris Shoes</h5>
                    <p class="card-text">Polaris Shoes</p>
                    <p class="card-text"><small class="text-muted">500 TL</small></p>
                </div>
            </div>
            <div class="card">
                <a href="https://www.w3schools.com">
                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Polaris Shoes</h5>
                    <p class="card-text">Polaris Shoes</p>
                    <p class="card-text"><small class="text-muted">500 TL</small></p>
                </div>
            </div>
            <div class="card">
                <a href="https://www.w3schools.com">
                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Polaris Shoes</h5>
                    <p class="card-text">Polaris Shoes</p>
                    <p class="card-text"><small class="text-muted">500 TL</small></p>
                </div>
            </div>
            <div class="card">
                <a href="https://www.w3schools.com">
                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Polaris Shoes</h5>
                    <p class="card-text">Polaris Shoes</p>
                    <p class="card-text"><small class="text-muted">500 TL</small></p>
                </div>
            </div>
            <div class="card">
                <a href="https://www.w3schools.com">
                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Polaris Shoes</h5>
                    <p class="card-text">Polaris Shoes</p>
                    <p class="card-text"><small class="text-muted">500 TL</small></p>
                </div>
            </div>
        </div>
    </div>
    <div id="homeSection">
        <h2>Home,Life</h2>
        <div class="card-group">
            <div class="card">
                <a href="https://www.w3schools.com">
                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Polaris Shoes</h5>
                    <p class="card-text">Polaris Shoes</p>
                    <p class="card-text"><small class="text-muted">500 TL</small></p>
                </div>
            </div>
            <div class="card">
                <a href="https://www.w3schools.com">
                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Polaris Shoes</h5>
                    <p class="card-text">Polaris Shoes</p>
                    <p class="card-text"><small class="text-muted">500 TL</small></p>
                </div>
            </div>
            <div class="card">
                <a href="https://www.w3schools.com">
                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Polaris Shoes</h5>
                    <p class="card-text">Polaris Shoes</p>
                    <p class="card-text"><small class="text-muted">500 TL</small></p>
                </div>
            </div>
            <div class="card">
                <a href="https://www.w3schools.com">
                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Polaris Shoes</h5>
                    <p class="card-text">Polaris Shoes</p>
                    <p class="card-text"><small class="text-muted">500 TL</small></p>
                </div>
            </div>
            <div class="card">
                <a href="https://www.w3schools.com">
                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Polaris Shoes</h5>
                    <p class="card-text">Polaris Shoes</p>
                    <p class="card-text"><small class="text-muted">500 TL</small></p>
                </div>
            </div>
            <div class="card">
                <a href="https://www.w3schools.com">
                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Polaris Shoes</h5>
                    <p class="card-text">Polaris Shoes</p>
                    <p class="card-text"><small class="text-muted">500 TL</small></p>
                </div>
            </div>
        </div>
    </div>
    <div id="sportSection">
        <h2>Sport,Outdoor</h2>
        <div class="card-group">
            <div class="card">
                <a href="https://www.w3schools.com">
                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Polaris Shoes</h5>
                    <p class="card-text">Polaris Shoes</p>
                    <p class="card-text"><small class="text-muted">500 TL</small></p>
                </div>
            </div>
            <div class="card">
                <a href="https://www.w3schools.com">
                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Polaris Shoes</h5>
                    <p class="card-text">Polaris Shoes</p>
                    <p class="card-text"><small class="text-muted">500 TL</small></p>
                </div>
            </div>
            <div class="card">
                <a href="https://www.w3schools.com">
                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Polaris Shoes</h5>
                    <p class="card-text">Polaris Shoes</p>
                    <p class="card-text"><small class="text-muted">500 TL</small></p>
                </div>
            </div>
            <div class="card">
                <a href="https://www.w3schools.com">
                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Polaris Shoes</h5>
                    <p class="card-text">Polaris Shoes</p>
                    <p class="card-text"><small class="text-muted">500 TL</small></p>
                </div>
            </div>
            <div class="card">
                <a href="https://www.w3schools.com">
                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Polaris Shoes</h5>
                    <p class="card-text">Polaris Shoes</p>
                    <p class="card-text"><small class="text-muted">500 TL</small></p>
                </div>
            </div>
            <div class="card">
                <a href="https://www.w3schools.com">
                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Polaris Shoes</h5>
                    <p class="card-text">Polaris Shoes</p>
                    <p class="card-text"><small class="text-muted">500 TL</small></p>
                </div>
            </div>
        </div>
    </div>
    <div id="cosmeticSection">
        <h2>Cosmetics,Personal Care</h2>
        <div class="card-group">
            <div class="card">
                <a href="https://www.w3schools.com">
                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Polaris Shoes</h5>
                    <p class="card-text">Polaris Shoes</p>
                    <p class="card-text"><small class="text-muted">500 TL</small></p>
                </div>
            </div>
            <div class="card">
                <a href="https://www.w3schools.com">
                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Polaris Shoes</h5>
                    <p class="card-text">Polaris Shoes</p>
                    <p class="card-text"><small class="text-muted">500 TL</small></p>
                </div>
            </div>
            <div class="card">
                <a href="https://www.w3schools.com">
                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Polaris Shoes</h5>
                    <p class="card-text">Polaris Shoes</p>
                    <p class="card-text"><small class="text-muted">500 TL</small></p>
                </div>
            </div>
            <div class="card">
                <a href="https://www.w3schools.com">
                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Polaris Shoes</h5>
                    <p class="card-text">Polaris Shoes</p>
                    <p class="card-text"><small class="text-muted">500 TL</small></p>
                </div>
            </div>
            <div class="card">
                <a href="https://www.w3schools.com">
                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Polaris Shoes</h5>
                    <p class="card-text">Polaris Shoes</p>
                    <p class="card-text"><small class="text-muted">500 TL</small></p>
                </div>
            </div>
            <div class="card">
                <a href="https://www.w3schools.com">
                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Polaris Shoes</h5>
                    <p class="card-text">Polaris Shoes</p>
                    <p class="card-text"><small class="text-muted">500 TL</small></p>
                </div>
            </div>
        </div>
    </div>
    <div id="bookSection">
        <h2>Book,Music,Movie</h2>
        <div class="card-group">
            <div class="card">
                <a href="https://www.w3schools.com">
                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Polaris Shoes</h5>
                    <p class="card-text">Polaris Shoes</p>
                    <p class="card-text"><small class="text-muted">500 TL</small></p>
                </div>
            </div>
            <div class="card">
                <a href="https://www.w3schools.com">
                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Polaris Shoes</h5>
                    <p class="card-text">Polaris Shoes</p>
                    <p class="card-text"><small class="text-muted">500 TL</small></p>
                </div>
            </div>
            <div class="card">
                <a href="https://www.w3schools.com">
                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Polaris Shoes</h5>
                    <p class="card-text">Polaris Shoes</p>
                    <p class="card-text"><small class="text-muted">500 TL</small></p>
                </div>
            </div>
            <div class="card">
                <a href="https://www.w3schools.com">
                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Polaris Shoes</h5>
                    <p class="card-text">Polaris Shoes</p>
                    <p class="card-text"><small class="text-muted">500 TL</small></p>
                </div>
            </div>
            <div class="card">
                <a href="https://www.w3schools.com">
                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Polaris Shoes</h5>
                    <p class="card-text">Polaris Shoes</p>
                    <p class="card-text"><small class="text-muted">500 TL</small></p>
                </div>
            </div>
            <div class="card">
                <a href="https://www.w3schools.com">
                    <img id="imgCard" src="https://productimages.hepsiburada.net/s/50/1000/11049573220402.jpg" alt="W3Schools.com" width="80" height="100">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Polaris Shoes</h5>
                    <p class="card-text">Polaris Shoes</p>
                    <p class="card-text"><small class="text-muted">500 TL</small></p>
                </div>
            </div>
        </div>
    </div>
</div>

